doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/vendor/jquery.js")
    script(src="/javascripts/vendor/socket.io.js")
    script(src="/javascripts/script.js")
  body
    block content